<%- include("templates/header") %>
<% if(auth && auth == "admin") { %>
    <p>You're an admin!</p>
    <ul>
    <% if (locals.users) users.forEach((user) => { %>
        <span><%=user.name%> (<%=user.status%>)</span>
        <div class="buttons">
            <button class="promote" onclick="window.location.replace('/updateUser?user=<%=user.email%>&status=admin')">Promote to Admin</button>
            <button class="demote" onclick="window.location.replace('/updateUser?user=<%=user.email%>&status=user')">Demote to User</button>
        </div>
        <br>
    <% }) %>
    </ul>
<% } else { %>
    <p>You do not have access to this page.</p>
<% } %>
<%- include("templates/footer") %>