<%- include("templates/header", {active: "admin"}) %>
<% if(locals.status && locals.status == "admin") { %>
    <p>You're an admin!</p>
    <ul class="pb-5 mb-4">
    <% if (locals.users) users.forEach((user) => { %>
        <span><%=user.name%> (<%=user.status%>)</span>
        <div class="buttons">
            <button type="button" class="btn promote btn-danger" onclick="window.location.replace('/updateUser?user=<%=user.email%>&status=admin')">Promote to Admin</button>
            <button type="button" class="btn demote btn-success" onclick="window.location.replace('/updateUser?user=<%=user.email%>&status=user')">Demote to User</button>
        </div>
        <br>
    <% }) %>
    </ul>
<% } else { %>
    <p>You do not have access to this page.</p>
<% } %>
<%- include("templates/footer") %>